{# index.twig #}
{% extends "layouts/layout.twig" %}

{% block page %}
    <header>
        <h1>Maps</h1>
    </header>
    <div class="row">
      <div class="col-md-12">
        <div id="map"></div>
      </div>
    </div>
{% endblock %}
